@CHARSET "UTF-8";
.a-tips-Article-QQ:link {
	color: #66CCFF;
	border-bottom: 1px dotted #0781C7;
	text-decoration: none
}


.a-tips-Article-QQ:hover {
	color: #66CCFF;
	background: #EBF2FA;
	text-decoration: none
}

.a-tips-Article-QQ:visited {
	color: #66CCFF;
	border-bottom: 1px dotted #0781C7;
	text-decoration: none
}


.STYLE1 {
	font-family: "微软雅黑"
}


.STYLE2 {
	font-size: 15px
}

.style123w {
	height: 100%;
	border: 1px #CCC solid;
	padding: 8px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 1.8;
	font-family: "微软雅黑"
}

.style1 {
	font-size: 11pt;
	line-height: 1.8;
}

p {
	text-indent: 2em
}
.anserListTable {
	border: 1px #CCC solid;
	font-family: "微软雅黑";
}
